{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- These 3 meta tags must come first in the head -->

		<!-- Bootstrap -->
		<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    		<!-- Include all compiled plugins (below), or include individual files as needed -->
    		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

		<title>Bacon Oil</title>
		{% block head %}
		{% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    				<div class="navbar-header">
      					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        					<span class="sr-only">Toggle navigation</span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
      					</button>
      					<a class="navbar-brand" href="#">Bacon Oil</a>
    				</div>
    				<div id="navbar" class="navbar-collapse collapse">
      					<ul class="nav navbar-nav">
        					<li class="active"><a href="#">Home</a></li>
        					<li><a href="/about">About</a></li>
        					<li><a href="/contact">Contact</a></li>
      					</ul>
    				</div><!--/.nav-collapse -->
  			</div><!--/.container-fluid -->
		</nav>

		{% block body %}
		{% endblock %}
		<script>
			{% block javascript %}
			{% endblock %}
		</script>
	</body>
</html>
