{% extends "base.html" %}
{% block body %}
<br>
<br>
<br>

<div style="">
<div class="container">

	<div class="col-md-2" style="text-align: right;">
		<h2>18</h2>
		<h5>March 2016</h5>
		<hr class="featurette-divider">
		<h6><span class="text-muted">Posted by: Alex</span></h6>
	</div>


	<div class="row featurette">
		
		<div class="col-md-8">
			<h3 class="featurette-heading">The benefits of fat</h3>
		  <p class="lead" style="font-size:125%">More and more research is starting to point to the health benefits of including good fat in your diet.  Back in the late 1900's there was a big push by the food industry to label fat as the reason why people were getting bigger.  As the government mandated that fat be reduced in food, food companies had to find different ways to get that same flavor back into the food.  Sugar was their response and over the last 25 years sugar and other processed forms of sugar became the dominant ingredient in food.  If you look at almost any food label today you will see that sugar is on the label.  All this excess sugar has negative health consequences on the body. </p>

		  <p> </p>

		  <p class="lead" style="font-size:125%">Although fat was getting removed from food, people continued to get bigger and bigger.   Research has proven that sugar increases appetite.  After consuming high sugar foods, people continue to keep eating because they do not feel satisfied.  Fat on the other hand satisfies our craving for food, which causes people to feel full.  This leads to people consuming less food.  Despite what we have been hearing for our whole lives, fat is not the evil food we once thought it was.  I recommend doing some more research and let the facts speak for themselves.</p>
		</div>
	</div>
</div>

<div class="col-md-10" role="main">
	<hr class="featurette-divider">
</div>

<div class="container">

	<div class="col-md-2" style="text-align: right;">
		<h2>03</h2>
		<h5>Feb. 2016</h5>
		<hr class="featurette-divider">
		<h6><span class="text-muted">Posted by: Alex</span></h6>
	</div>

	<div class="row featurette">
		
		<div class="col-md-8">
			<h3 class="featurette-heading">Frying instructional videos</h3>
		  <p class="lead" style="font-size:125%">We made a couple of videos showing the basic process on how to fry some different foods.  When frying smaller items you can use a pot on the stove but since we were frying a turkey we busted out the pot to fry our food.</p>

		  <p> </p>

		 <p><iframe width="560" height="315" src="https://www.youtube.com/embed/BNLIbWQvWCM?rel=0" frameborder="0" allowfullscreen></iframe></p>

		  <p class="lead" style="font-size:125%">In our next video we demonstrate how to fry up some onion rings.  These are very simple to make and taste amazing with the bacon flavoring.</p>

		  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/z4JwL2jYuk8?rel=0" frameborder="0" allowfullscreen></iframe></p>
		</div>
	</div>

</div>


{% endblock %}