{% extends "base.html" %}
{% block body %}


<div style="">
<div class="container">

	<div class="col-md-2" style="text-align: right;">
		<h2>18</h2>
		<h5>March 2016</h5>
		<hr class="featurette-divider">
		<h6><span class="text-muted">Posted by: Alex</span></h6>
	</div>


	<div class="row featurette">
		
		<div class="col-md-8">
			<h3 class="featurette-heading">The benefits of fat</h3>
		  <p class="lead" style="font-size:125%">More and more research is starting to point to the health benefits of including fat in your diet.  Back in the late 1900's there was a big push by the food industry to label fat as the reason why people were getting fatter.  As the government mandated that fat be reduced in food, food companies had to find different ways to get that same flavor back into the food.  Sugar was their response and over the last 25 years sugar, and other processed forms of sugar was the dominant ingredient in food.  If you look at almost any food label today you will see that sugar is on the label.  Sugar has an interesting effect on the human body. </p>

		  <p> </p>

		  <p class="lead" style="font-size:125%">Although fat was getting removed from food, people continued to get bigger and bigger.   Research has proven that sugar increases the apatite of the consumer rather than satisfying it.  After consuming high sugar foods, people continue to keep eating.  Fat on the other hand satisfies our craving for food, which can lead to people feeling full.  This leads to people consuming less food.  Despite what we have been hearing for our whole lives, fat is not the evil food we once thought it was.  I recommend doing some more research and let the facts speak for themselves.</p>
		</div>
	</div>
</div>

<div class="col-md-10" role="main">
	<hr class="featurette-divider">
</div>

<div class="container">

	<div class="col-md-2" style="text-align: right;">
		<h2>03</h2>
		<h5>Feb. 2016</h5>
		<hr class="featurette-divider">
		<h6><span class="text-muted">Posted by: Alex</span></h6>
	</div>

	<div class="row featurette">
		
		<div class="col-md-8">
			<h3 class="featurette-heading">How to fry a turkey</h3>
		  <p class="lead" style="font-size:125%">Today we are going to learn how to fry a turkey.  There are several things to keep in mind when you get started.  The best turkeys to fry are between 10 and 12 pounds.  Any bigger and it can be difficult to get the turkey to fry evenly.  Before we get started lets make sure that we prepare all of our materials.  Watch the video below to see how we fried our own turkey with the famous Uncle John's Bacon Oil. </p>

		  <p> </p>

		 <p><iframe width="560" height="315" src="https://www.youtube.com/embed/BNLIbWQvWCM" frameborder="0" allowfullscreen></iframe></p>

		  <p class="lead" style="font-size:125%">We hope you enjoyed this quick tutorial on how to fry a turkey.  We are always finding new ways to cook with bacon oil so stay tuned for future blog posts for some new recipies and ideas.</p>
		</div>
	</div>

</div>


{% endblock %}