{% extends "base.html" %}
{% block body %}

<div class="container">
	<div class="row featurette">
		<div class="col-md-12">
		  <h2 class="featurette-heading">Learn how to fry a turkey.</h2>
		  <h4><span class="text-muted">Posted by Alex</span> Feb. 3rd 2016</h4>
		  <p class="lead">Today we are going to learn how to fry a turkey.  There are several things to keep in mind when you get started.  The best turkeys to fry are between 10 and 12 pounds.  Any bigger and it can be difficult to get the turkey to fry evenly.  Before we get started lets make sure that we prepare all of our materials.  Watch the video below to see how we fried our own turkey with the famous Uncle John's Bacon Oil. </p>

		  <p> </p>

		 <p><iframe width="560" height="315" src="https://www.youtube.com/embed/BNLIbWQvWCM" frameborder="0" allowfullscreen></iframe></p>

		  <p class="lead">We hope you enjoyed this quick tutorial on how to fry a turkey.  We are always finding new ways to cook with bacon oil so stay tuned for future blog posts for some new recipies and ideas.</p>
		</div>
	</div>
</div>


{% endblock %}