{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div class="page-header">
	<h1>Get in contact with us!</h1>
</div>
<div class="well">
	<div class="container">
	 	<div class="row">
	 		<div class="col-sm-1"> <img src="{% static 'images/contact_page/call.png' %}" width="64" height="64"></div>
	 		<div class="col-sm-1"> </div>
	 		<div class="col-sm-8"> <h3> Call us at 303-555-1234</h3> </div>
	 	</div>
	 	<div class="row">
	 		<div class="col-sm-1"> <img src="{% static 'images/contact_page/email.png' %}" width="64" height="64"></div>
	 		<div class="col-sm-1"> </div>
	 		<div class="col-sm-8"> <h3>contact@baconoil.com</h3> </div>
	 	</div>
	 </div>
</div>

{% endblock %}