{% extends "base.html" %}
{% load staticfiles %}

{% block style %}

.carousel{
  margin-top: -20px;
  background: #2f4357;
}

img{
  position:center;
  height:500px;


}

{% endblock %}



{% block body %}
 <!-- Main jumbotron for a primary marketing message or call to action --> 


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner" >
        <div class="item active">
            <img src="{% static 'images/index_page/fried_chicken.jpg' %}" alt="My First Image" class="img-responsive" />
        </div>
        <div class="item">
          <img src="{% static 'images/index_page/kitchen_fried.jpg' %}" alt="My First Image" class="img-responsive" />
        </div>
        <div class="item">
          <img src="{% static 'images/index_page/meat_fried_food.jpg' %}" alt="My First Image" class="img-responsive"/>
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>




  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Learn about our story</h2>
        <p>John Gordon's Bacon Oilis the most high quality bacon oil you can find.  Learn why our oil is so pure and why it is the best option to cook with. </p>
        <p><a class="btn btn-default" href="/story" role="button">View our story &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Safety Tips</h2>
        <p>Cooking with bacon oil is safe and easy!  Come learn about several tips to remain safe while cooking</p>
        <p><a class="btn btn-default" href="/safety" role="button">Safety tips &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Recipies</h2>
        <p>We have a ton of recipies that can get you going.  Use these ideas as a springboard to come up with your own recipies.  Who knows, you may be featured on our blog!</p>
        <p><a class="btn btn-default" href="/recipes" role="button">See recipies &raquo;</a></p>
      </div>
    </div>

  </div> <!-- /container -->
{% endblock %}
