{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
 <!-- Main jumbotron for a primary marketing message or call to action --> 
 <div class="jubmbotron" style="margin-top:-20px; z-index:-1; ">
  <div class="img-responsive" style="background: url({% static 'images/large_fried_chicken.jpg' %}) no-repeat center center; height:500px; background-size: cover;">
      <div class="col-md-6"></div>
      <div class="col-md-6" style="margin-top:200px;">
        <div class="well well-sm" style="background-color: rgba(0, 0, 0, 0.6);">
          <h2 style="color:#FFFFFF">Welcome to Uncle John's Bacon Oil</h2>
          <p style="color:#FFFFFF">Bacon oil is hands down the best way to enjoy any sort of fried food.  Explore our site to learn more about what makes our bacon oil special.  View our recipies to learn about the many different types of uses bacon oil can have.</p>
        </div>
        <p><a class="btn btn-primary btn-lg" href="/story" role="button" padding="20px">Learn more &raquo;</a></p>
        
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Learn about our product</h2>
        <p>Uncle John's bacon oil is the most high quality bacon oil you can find.  Learn why our oil is so pure and why it is the best option to cook with. </p>
        <p><a class="btn btn-default" href="/story" role="button">View our story &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Safety Tips</h2>
        <p>Cooking with bacon oil is safe and easy!  Come learn about several tips to remain safe while cooking</p>
        <p><a class="btn btn-default" href="/safety" role="button">Safety tips &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Recipies</h2>
        <p>We have a ton of recipies that can get you going.  Use these ideas as a springboard to come up with your own recipies.  Who knows, you may be featured on our blog!</p>
        <p><a class="btn btn-default" href="/" role="button">See recipies &raquo;</a></p>
      </div>
    </div>

  </div> <!-- /container -->
{% endblock %}
