{% extends "base.html" %}

{% block body %}
<br>
<br>
<br>
<div class="container theme-showcase" role="main">
	<div class="page-header">
		<h1>Safety Tips</h1>
	</div>
	<div class="well">
	 	<p>DO NOT over fill ot with oil - lowering the turkey will displace oil.</p>
	 	<p>DO NOT over heat. If oil begins to smoke, turn off flame.</p>
	 	<p>Use fireproof gloves and eye protection when moving turkey in and out of pot. Turn off the flame when moving the turkey in and out of the pot.</p>
	 	<p>Never use propane indoors.</p>
	 	<p>Never leave fryer unattended.</p>
	 	<p>Keep children away from hot oil at all times.</p>
	 	<p>DO NOT put water on hot or burning flame</p>
	 	<p>Oil wil remain hot for period of time even without flame.  Take caution at allt imes with hot oil.</p>


	</div>
</div>

{% endblock %}