{% extends "base.html" %}

{% block body %}
<br>
<br>
<br>
<div class="container theme-showcase" role="main">
	<div class="page-header">
		<h1>Safety Tips</h1>
	</div>
	<div class="well">
	 	<p> - Keep oil temperature below 380 degrees.  If temperature is above 380, turn off heat and allow the temperature to come back down.</p>
	 	<p> - Never use ice or any form of water to try and cool the oil down.</p>
	 	<p> - Make sure burner is on a flat hard service away from any structures</p>
	 	<p> - When frying, turn off the burner and slowly lower the food into the oil.  When fully submerged, carefully turn the burner back on.</p>
	 	<p> - When cooking a turkey try to keep size of the turkey to around 10-12 lbs.  For each pound of turkey cook approximately 3 minutes per pound and Keep temperatures at 350 degrees Fahrenheit.</p>
	 	<p> - DO NOT leave unattended when heating or frying</p>
	 	<p> - DO NOT refill original container with hot oil</p>
	 	<p> - IF OIL SMOKES :  Reduce Heat</p>
	 	<p> - IF OIL CATCHES FIRE:  Turn off Heat, Cover until cool.  Only use fire extinguisher that are designated for use on oil.  NEVER spray water on burning or hot oil</p>

	</div>
</div>

{% endblock %}