{% extends "base.html" %}

{% block body %}

<div class="page-header">
	<h1>Safety Tips</h1>
</div>
<div class="well">
 	<p> - Keep oil temperature below 380 degrees.  If temperature is above 380, turn off heat and allow the temperature to come back down.</p>
 	<p> - Never use ice or any form of water to try and cool the oil down.</p>
 	<p> - Make sure burner is on a flat hard service away from any structures</p>
 	<p> - When frying, turn off the burner and slowly lower turkey into the oil.  When fully submerged, carefully turn the burner back on</p>
 	<p> - When cooking a turkey try to keep size of the turkey to around 10-12 lbs.  Cook for 2 minutes and 45 seconds per pound.  Keep temperature between 325 - 350</p>
</div>

{% endblock %}