{% extends "base.html" %}

{% block body %}
<hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Our history <span class="text-muted">How we got our start</span></h2>
      <p class="lead">Our family has been frying turkeys for the past several decades.  Although frying turkeys has always been a tradition, we are always trying to find ways to up the antie.  Uncle John has the crazy idea to use left over bacon oil to fry a turkey.  This bacon fried turkey was the hit of the thanksgiving feast.  Uncle John has been frying turkeys ever since. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" style="background-color:#202020; width:300px; height:300px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Uncle John's speciality bacon oil. <span class="text-muted">Premium bacon oil is the only way to go. </span></h2>
      <p class="lead">Our bacon oil is not just the left overs of cooking bacon.  Unlike the bacon grease you get at home after frying up bacon, Uncle John's bacon oil is filtered to remove all of the impurities.  The only safe way to cook with bacon oil is with filtered oil. </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" style="background-color:#B81D18; width:300px; height:300px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Spreading the word. </h2>
      <p class="lead">We fell in love with bacon oil the moment we fried up our first turkey.  We wanted to share that taste with the world and that is why we want you to try bacon oil.  Come check out our recipies for ideas on how to use bacon oil to cook your next meal.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" style="background-color:#004687; width:300px; height:300px;">
    </div>
  </div>

  {% endblock %}
