{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<br>
<br>
<br>
<div class="container theme-showcase" role="main">

    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading">Our history <span class="text-muted">How we got our start</span></h2>
        <p class="lead">John Gordon started in the bacon business in 1966 as a 15 year old young man when his father, John senior, moved to a small town in rural Ohio and opened a raw bacon processing plant.  Over time, John Gordon transformed his family's business into one of the largest independent bacon processing companies in America.</p>
        <p class="lead">On a parallel track in 1986, on our small farm in western Kentucky, we began our family's tradition of frying the holiday turkey.  We have always enjoyed outdoor cooking with the comradery of family and friends.  Our usual fish fry became the ultimate turkey fry!</p>
        <p class="lead">In 2015, these two paths crossed when John Gordon's entrepreneurial spirit met with our family's longstanding passion to continually experiment with flavor enhancements and cooking techniques of frying turkeys for Thanksgiving.  This led to the first Thanksgiving turkey fried in Bacon Oil instantly becoming a hit with our family and friends</p>
        <p class="lead">Today John Gordon's Bacon Oil is used for all of our frying occasions to take the frying experience to a whole new level of enjoyment and "all the time" flavor enhancement</p>
        <p class="lead">We hope you enjoy it as much as our families do, and feel a sense of comradery as well!</p>
      </div>
      <div class="col-md-6">
         <img src="{% static 'images/our_story/family_photo.jpg' %}" class="img-responsive" alt="Cinque Terre" style="padding-top: 50px;"> 
        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">John Gordon's Bacon Oil. <span class="text-muted">Premium bacon oil </span></h2>
        <p class="lead">Our bacon oil is not just the left overs of cooked bacon.  Unlike the bacon grease you get at home after frying up bacon, Uncle John's bacon oil is triple filtered to remove all of the impurities.  The only safe way to cook with bacon oil is with filtered oil. </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <div class="container" style="background-color:#B81D18; width:300px; height:300px;">
          <div style="align:center; padding-top:50px">
            <img class="featurette-image img-responsive center-block" src="{% static 'images/our_story/pot.png' %}" alt="Turkey" style="width:200px; height:200px;">
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Spreading the word. </h2>
        <p class="lead">We fell in love with the many uses of bacon oil, especially when we did our first fry.  We wanted to share that taste with the world.  Come check out our recipies for ideas on how to use John Gordon's Bacon Oil to cook your next meal, and have fun with your family and friends.</p>
      </div>
      <div class="col-md-5">
         <div class="container" style="background-color:#004687; width:300px; height:300px;">
          <div style="align:center; padding-top:50px">
            <img class="featurette-image img-responsive center-block" src="{% static 'images/our_story/bacon.png' %}" alt="Turkey" style="width:200px; height:200px;">
          </div>
        </div>
      </div>
    </div>
</div>

  {% endblock %}
