{% extends "base.html" %}
{% block body %}
<br>
<br>
<br>
<br>
<br>

<div class="col-md-2">
</div>
<div class="col-md-4">
	<h4>Our classic bacon oil</h4>
	<br>
	<p>Our finest bacon oil that we will ship directly to your home.</p>
	<p> - Tripple filtered </p>
	<p> - Frying, cooking, and baking compatible </p>
	<p> - 1 gallon </p>
	<p> - Made in the USA </p>

</div>
<div class="col-md-4">
	<div data-embed_type="product" data-shop="john-gordons-bacon-oil.myshopify.com" data-product_name="Premium bacon oil - Test" data-product_handle="premium-bacon-oil-test" data-has_image="true" data-display_size="compact" data-redirect_to="checkout" data-buy_button_text="Buy now" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="7db461" data-button_text_color="ffffff" data-product_modal="false" data-product_title_color="000000" data-next_page_button_text="Next page">
	</div>
</div>


<noscript><a href="https://john-gordons-bacon-oil.myshopify.com/cart/18662304131:1" target="_blank">Buy Premium bacon oil - Test</a></noscript>


{% block javascript %}
<script type="text/javascript">
document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
</script>
{% endblock %}


{% endblock %}