{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<div class="container theme-showcase" role="main">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Our history <span class="text-muted">How we got our start</span></h2>
        <p class="lead">The concept of John Gordon's Bacon Oil unknowingly started on a Thanksgiving Day 30 years ago on a small farm in rural Kentucky.  A long standing family tradition of enjoying outdoor cooking and the comradery from participating in the culinary experience of a good fish fry met with the first known turkey fry in Kentucky.  Over the years our love of cooking and frying became our passion as we continually experimented with flavor enhancements and cooking techniques.  Eventually some family member landed in Ohio and through connections with Sugar Creek bacon came the idea of frying in bacon oil.  John Gordon's Bacon Oil was developed to take the frying experience to a whole new level.  Now e use John Gordon's Bacon Oil as an 'all-the-time' flavor enhancement anytime we fry our favorite foods.</p>
      </div>
      <div class="col-md-5">
        <div class="container" style="background-color:#202020; width:300px; height:300px;">
          <div style="align:center; padding-top:50px">
            <img class="featurette-image img-responsive center-block" src="{% static 'images/our_story/turkey.png' %}" alt="Turkey" style="width:200px; height:200px;">
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Uncle John's speciality bacon oil. <span class="text-muted">Premium bacon oil </span></h2>
        <p class="lead">Our bacon oil is not just the left overs of cooking bacon.  Unlike the bacon grease you get at home after frying up bacon, Uncle John's bacon oil is filtered to remove all of the impurities.  The only safe way to cook with bacon oil is with filtered oil. </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <div class="container" style="background-color:#B81D18; width:300px; height:300px;">
          <div style="align:center; padding-top:50px">
            <img class="featurette-image img-responsive center-block" src="{% static 'images/our_story/pot.png' %}" alt="Turkey" style="width:200px; height:200px;">
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Spreading the word. </h2>
        <p class="lead">We fell in love with the many uses of bacon oil, especially when we did our first fry.  We wanted to share that taste with the world.  Come check out our recipies for ideas on how to use John Gordon's Bacon Oil to cook your next meal.</p>
      </div>
      <div class="col-md-5">
         <div class="container" style="background-color:#004687; width:300px; height:300px;">
          <div style="align:center; padding-top:50px">
            <img class="featurette-image img-responsive center-block" src="{% static 'images/our_story/bacon.png' %}" alt="Turkey" style="width:200px; height:200px;">
          </div>
        </div>
      </div>
    </div>
</div>

  {% endblock %}
